.posts-expand .post-tags {
  margin-top: 0px;
  margin-bottom: 40px;
  clear: both;
  text-align: right;

  a {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
  }
}

.posts-expand .post-tags:before {
  content: "\F02C";
  font-family: FontAwesome;
}

